/*basic styling page*/

html{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.2;
    height:100%;
    margin:0;
    font-size:1em;
}
body {
    margin-bottom:0px;  /*important adding this margin if use "sticky footer" in bootstrap otherwise some content might get covered by footer space */
    background-image:url("../images/metro-city-eve0.jpg");
    background-repeat: round;
    min-height:100%;
    color:rgb(210, 210, 210);
}
#landing-filler-top{
    margin-top: 10%;
    display: block;
    min-height: 20% !important;
}
#brand{
    background-color: rgba(255, 255, 255, 0);
    padding-left: 3em;
}
.bg-dark{
    background-color: rgba(255, 255, 255, 0) !important;
}

.container{
    min-height:100%;
    /* background-color: rgba(0, 0, 0, 0.742); */

}
h1{
    font-size:2.3em;
    color:rgb(210, 210, 210);
    text-shadow: 0.03em 0.03em rgb(255, 255, 255);
}
h2{
    font-size:2em;
    color:rgb(210, 210, 210);
}
h4{
    font-size:1.7em ;
    color:rgb(210, 210, 210);
}
.imgButtons{
    max-height: 150px;
    display: block; 
}
.imgWrap{
    max-height: 170px;
    max-width: 170px;
    /* display: block;  */
}

.images{
    max-block-size: 200px;
    max-width: 230px;
    float:left;
    margin-left: auto; 
    margin-right: auto; 
}

.footer{
    clear: both;
    height:80px;
    background-color: black;
    /* border-top: 8px solid #66bce4; */
    padding-top: 30px;
    text-align:center;
    font-size: 1em;
}
  

/* adjust bootstrap elements to mimic the assignment format*/

.header{
    text-align: center;
    margin: 0 auto;
    /* padding: 0.3em 0; */
    background-color: rgb(0, 0, 0);
    /* border: 0.3em solid #66bce4; */
    /* border-radius:.5em; */

}
.row{
    padding:0.8em;
    margin-top: 0.2em;
    /* background-color:rgba(211, 211, 211, 0.89) !important; */
}

.col-sm-12 > .jumbotron {
    height:100%;
}
.jumbotron {
    padding:0.8em;
    padding-bottom:0.3em; 
    margin-bottom:0.3em;
    background-color: rgba(0, 0, 0, 0);

    /* box-shadow: 0.05em 0.05em rgb(146, 146, 146); */
}


.container{
    min-height:100%;
}

@media(max-width:768px) {
    .images{
        max-block-size: 170px;
        max-width: 170px;
    }
}
@media(max-width:578px) {
    .jumbotron{
        /* max-width: 50% !important; */
        margin-bottom:0.2em;
    }
    h1{
        font-size:2em;
    }
    h2{
        font-size:1.4em;
    }
    h4{
        font-size:1.2em;
    }

    .imgCenter{
        margin-left:0;
        margin-right:auto;
        width: 100%;
    }
    img{
        max-block-size: 180px !important;
        float:left;
    }

   .col-xs-6, .col-sm-6{
        max-width: 50%;
    }
    /* .footer{
        position: relative;
    } */
}